{% extends "layout.html" %}

{% block head %}
<title>NLPartners</title>
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript">
          var ws = new WebSocket("ws://127.0.0.1:8080/chat");
          ws.onmessage = function(e) {
              $("#contents").append('<div id="reply" class="alert alert-info" role="alert" style="float: left;">' + "NLPartners: " + e.data + "</div><br><br><br><br>");
          }
          function sendMsg() {
              var msg = $("#msg").val();
              $("#contents").append('<div class="alert alert-info" role="alert" style="float:right">' + msg + "</div><br><br><br><br>");
              ws.send(msg);
              $("#msg").val("");
          }
</script>
<script language="javascript1.2" type="text/javascript">
function onGetMessage(context)
{
contents.innerHTML+=context;
msg_end.scrollIntoView();
reply.scrollIntoView();
}
</script>
{% endblock %}


{% block content %}
<main>
    <div class="container">
        <div class="row my-3">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div id="navbar" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">{{title}}</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="container theme-showcase" role="main" style="margin-top: 80px;">
                <div style="height: 600px; overflow: auto; background-color:#eee;">
                    <div id="contents" style="overflow:hidden;"></div>
                    <div id="msg_end" style="height:0px; overflow:hidden"></div>
                </div>
                <div>
                    <textarea class="form-control" id="msg"></textarea>
                    <button class="btn btn-lg btn-info" onclick="sendMsg()" style="float: right;margin-top: 2px">发送
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
